# Import Library

In [15]:
import pandas as pd

# Function for Cleaning Data

In [16]:
def clean_df(regnum, prod_name, stat, prod, file_name):
    #### registration number
    
    # sort values
    idx = []
    for i in regnum[regnum.columns[0]].values:
        i = i.split('-')[1]
        i = int(i)
        idx.append(i)
    regnum[regnum.columns[0]] = idx
    regnum = regnum.sort_values(regnum.columns[0], ascending = True, ignore_index = True)
    
    # clean regnum
    registration_number = []
    for reg in list(regnum[regnum.columns[-1]]):
        reg = reg.split(sep = 'Terbit')[0]
        registration_number.append(reg)
    regnum[regnum.columns[-1]] = registration_number
    
    ### product name
    
    # sort values
    idx = []
    for i in prod_name[prod_name.columns[0]].values:
        i = i.split('-')[1]
        i = int(i)
        idx.append(i)
    prod_name[prod_name.columns[0]] = idx
    prod_name = prod_name.sort_values(prod_name.columns[0], ascending = True, ignore_index = True)
    
    # clean prod_name
    product_name = []
    for product in list(prod_name[prod_name.columns[-1]]):
        product = product.split(sep = 'Merk')[0]
        product_name.append(product)
    prod_name[prod_name.columns[-1]] = product_name
    
    
    # product
    prod = [prod] * len(regnum)
    prod_df = pd.DataFrame(prod)
    prod_df.columns = ['product']
    
    ### status
    
    # sort values
    idx = []
    for i in stat[stat.columns[0]].values:
        i = i.split('-')[1]
        i = int(i)
        idx.append(i)
    stat[stat.columns[0]] = idx
    stat = stat.sort_values(stat.columns[0], ascending = True, ignore_index = True)
    
    status = stat[stat.columns[-1]]
    
    ### concat
    df_clean = pd.concat([regnum[regnum.columns[-1]], prod_name[prod_name.columns[-1]],
                          prod_df, status], axis = 1)
    df_clean.columns = ['registration number', 'product name', 'product', 'status']
    
    ### export to csv
    df_clean.to_csv(file_name, index = False)
    
    return df_clean

# Produk Obat Tradisional Ditarik

In [15]:
reg_num = pd.read_csv('Obat Tradisional/tradisional - regnum 1.csv')
products = pd.read_csv('Obat Tradisional/tradisional - produk 1.csv')
status = pd.read_csv('Obat Tradisional/tradisional - status 1.csv')
prod = 'Obat Tradisional'
file_name = 'obat tradisional.csv'
clean_df(reg_num, products, status, prod, file_name).head()

,registration number,product name,product,status
0,TR163395761,ALBOOST,Obat Tradisional,Tidak Berlaku (Dicabut/Dibatalkan)
1,TR203615671,ELANG MAS,Obat Tradisional,Tidak Berlaku (Dicabut Karena Keamanan Mutu)
2,TR205602431,LIANEL,Obat Tradisional,Tidak Berlaku (Dicabut/Dibatalkan)
3,TR202379701,FORVIDNA KAPSUL,Obat Tradisional,Tidak Berlaku (Dicabut Karena Keamanan Mutu)
4,TR202364061,ZHIGENDUAN,Obat Tradisional,Tidak Berlaku (Dicabut Karena Keamanan Mutu)

## Produk Kosmetik Ditarik

In [17]:
reg_num = pd.read_csv('kosmetik/tradisional - regnum 1.csv')
products = pd.read_csv('kosmetik/tradisional - produk 1.csv')
status = pd.read_csv('kosmetik/tradisional - status 1.csv')
prod = 'kosmetik'
file_name = 'kosmetik.csv'
clean_df(reg_num, products, status, prod, file_name).head()

,registration number,product name,product,status
0,NA49101400001,Antiseptic Mouthwash Tartar Control Clean Mint,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
1,NA18100100002,Men Expert White Activ Oil Control Moisturizin...,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
2,NA18100100004,Acne Serum,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
3,NA18100700003,Body Scrub With Fruity Enzyme,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
4,NA49101400002,Antiseptic Mouthwash Fresh Burst,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...

In [20]:
reg_num = pd.read_csv('kosmetika/tradisional - regnum 1.csv')
products = pd.read_csv('kosmetika/tradisional - produk 1.csv')
status = pd.read_csv('kosmetika/tradisional - status 1.csv')
prod = 'kosmetik'
file_name = 'kosmetik.csv'
clean_df(reg_num, products, status, prod, file_name).head()

,registration number,product name,product,status
0,NA18220101240,Glow Cream,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
1,NA18221200671,Beauty Toner,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
2,NA18221200672,Facial Wash,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
3,NA11220200028,BRIGHTENING FACIAL MASK,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...
4,NA11220200026,VITAMIN C SERUM FACIAL MASK,kosmetik,Tidak Berlaku (Dicabut Atas Permohonan Perusah...